<div class="row">
  <div class="large-9 columns">
    <h3><%= t('edit_account') %></h3>
    Тут можно будет удалить у юзера креативы, комментарии...
  </div>
  <div class="large-3 columns">

    <fieldset>
    <%= button_to t('.cancel_my_account'), registration_path(@user), :data => { :confirm => t('.are_you_sure') }, :method => :delete, :class => 'button right' %>
    </fieldset>
  </div>
</div>
