<%= @picture.cropped ? (image_tag(@picture.cropped_url, :id => "example")) : (image_tag(@picture.file.url, :id => "example")) %>
<div id="Filters">
  <div class="Filter">
    <div class="FilterName">
      <p><%= t('brightness')%></p>
    </div>
    <div class="FilterSetting">
      <input type="range" min="-100" max="100" step="1" value="0" data-filter="brightness">
      <span class="FilterValue">0</span>
    </div>
  </div>
  <div class="Filter">
    <div class="FilterName">
      <p><%= t('contrast')%></p>
    </div>
    <div class="FilterSetting">
      <input type="range" min="-100" max="100" step="1" value="0" data-filter="contrast" >
      <span class="FilterValue">0</span>
    </div>
  </div>
</div>
