<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <li class="template-upload fade" style="text-align:center;">
    <p class="preview"><span class="fade"></span></p>
    {% if (file.error) { %}
    <p class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</p>
    {% } else if (o.files.valid && !i) { %}
    <p>
      <div class="progress alert"><div class="bar meter" style="width:0%;"></div></div>
    </p>
<div class="button-group">
    <p class="start">{% if (!o.options.autoUpload) { %}
      <button class="tiny">
        <span><%=t("upload") %></span>
      </button>
      {% } %}</p>
    {% } else { %}
    <p colspan="2"></p>
    {% } %}
    <p class="cancel">{% if (!i) { %}
      <button class="tiny alert">
        <span><%=t("cancel") %></span>
      </button>
      {% } %}</p>
</div>
  </li>
  {% } %}
</script>