<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td class="name"><span>name</span>
        <td class="error" colspan="2"><span class="label label-important">error</span> {%=file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        {% } %}
      <td class="edit">
        <button class="button secondary" data-type="{%=file.edit_type%}" data-url="{%=file.edit_url%}">
          <span> Edit </span>
        </button>
      </td>
      <td class="delete">
        <button class="button alert">
          <span>delete</span>
        </button>
      </td>
    </tr>
    {% } %}
</script>