<div id="choosePicModal" class="reveal-modal" data-reveal>
  <h2><%= t('.choose_pics')%></h2>
  <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-8">
    <% if @chapter.creative.pictures.empty? %>
        <%= content_tag :h3, t('.no_pictures') %>
      <% else %>
        <% @chapter.creative.pictures.each do |pic| %>
          <li><img class ="addimagebutton th" src="<%= pic.file.thumb.url %>" url="<%= pic.file.url%>"></li>
        <% end %>
      <% end %>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>