  <div id="picture_modal" class="reveal-modal" data-reveal>
    <% unless @chapter.creative.pictures.empty? %>
      <ul class="small-block-grid-4 medium-block-grid-6 large-block-grid-8">
        <% @chapter.creative.pictures.each do |picture| %>
          <img class ="th addimagebutton" src="<%= picture.file.thumb.url%>" url="<%= picture.file.url%>">
        <% end %>
      </ul>
    <% else %>
      <p> No images :( </p>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>