/*
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 *= require markdown
 */
@import "jquery.fileupload-ui";
@import 'general_foundicons';

.main-row {
    max-width:1500px !important;
}

.chapter-item {
    height: 300px;
    position: relative;
    overflow: hidden;
}


.th.chapter-item {
  height: 305px;
  display: block;
}

.bottom-button {
    position: absolute;
    bottom: 0;
}